[submodule "3rd/logbook"]
	path = 3rd/logbook
	url = https://github.com/mitsuhiko/logbook.git
[submodule "3rd/jinja2"]
	path = 3rd/jinja2
	url = https://github.com/mitsuhiko/jinja2.git
[submodule "3rd/docopt"]
	path = 3rd/docopt
	url = https://github.com/docopt/docopt.git
