include assets/*
include assets/clo/*
include assets/clo/_data/*
include assets/clo/static/*
include assets/clo/static/css/*
include assets/clo/static/js/*
include assets/clo/static/img/*
include assets/clo/template/*
include tpl/*
