include ursa2/assets/*
include ursa2/assets/clo/*
include ursa2/assets/clo/_data/*
include ursa2/assets/clo/static/*
include ursa2/assets/clo/static/css/*
include ursa2/assets/clo/static/js/*
include ursa2/assets/clo/static/img/*
include ursa2/assets/clo/template/*
include ursa2/tpl/*
