{%extends "parent.html"%}

{%block title%}
Tempalte List
{%endblock%}

{%block content%}
    {%set subTitle='Templates'%}
    {%set current='Templates'%}
    {%include "header.html"%}
    <div class="wrapper content">
        <table>
            <thead>
                <tr>
                    <th>Main</th>
                    <th>MODULE</th>
                    <th>COMMON</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul class="tlist">
                            {% for tpl in tpls %}
                            <li>
                                <a class="title" href="{{tpl}}.ut">{{tpl}}</a>
                                <a class="mgr" href="{{tpl}}.m">mgr</a>
                                <a class="mgr" href="{{tpl}}.data">data</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="tlist">
                            {% for tpl in module_tpls %}
                            <li>
                                <a class="title" href="{{tpl}}.ut">{{tpl}}</a>
                                <a class="mgr" href="{{tpl}}.m">mgr</a>
                                <a class="mgr" href="{{tpl}}.data">data</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="tlist">
                            {% for tpl in common_tpls %}
                            <li>
                                <a class="title" href="{{tpl}}.ut">{{tpl}}</a>
                                <a class="mgr" href="{{tpl}}.m">mgr</a>
                                <a class="mgr" href="{{tpl}}.data">data</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{%endblock%}