{%extends "parent.html"%}

{%block title%}
Tempalte List
{%endblock%}

{%block content%}
    {%set subTitle='Templates'%}
    {%set current='Templates'%}
    {%include "header.html"%}
    <div class="wrapper content cf w-fil">
        <div class="w-fix section">
             <ul class="tlist">
                            {% for tpl in tpls %}
                            <li>
                                <a class="title" href="{{tpl}}.ut">{{tpl}}</a>
                                <a class="mgr" href="{{tpl}}.m">mgr</a>
                                <a class="mgr" href="{{tpl}}.data">data</a>
                            </li>
                            {% endfor %}
                        </ul>
        </div>
        <div class="w-fix section">
              <ul class="tlist">
                            {% for tpl in module_tpls %}
                            <li>
                                <a class="title" href="{{tpl}}.ut">{{tpl}}</a>
                                <a class="mgr" href="{{tpl}}.m">mgr</a>
                                <a class="mgr" href="{{tpl}}.data">data</a>
                            </li>
                            {% endfor %}
                        </ul>
        </div>
        <div class="w-fix section">
             <ul class="tlist">
                            {% for tpl in common_tpls %}
                            <li>
                                <a class="title" href="{{tpl}}.ut">{{tpl}}</a>
                                <a class="mgr" href="{{tpl}}.m">mgr</a>
                                <a class="mgr" href="{{tpl}}.data">data</a>
                            </li>
                            {% endfor %}
                        </ul>
        </div>
    </div>
{%endblock%}