{%extends "parent.html"%}

{%block title%}
Static Resource List
{%endblock%}


    {%set subTitle='Resource'%}
    {%set current='Resource'%}
    {%include "header.html"%}

{%block content%}
    <div class="wrapper content">

        <div class="w-fix section"> <ul class="tlist">
                            {% for tpl in css %}
                            <li>
                                <a class="title" href="/{{css_dir}}/{{tpl}}">{{tpl}}</a>
                            </li>
                            {% endfor %}
                        </ul></div>
        <div class="w-fix section"><ul class="tlist">
                            {% for tpl in js %}
                            <li>
                                <a class="title" href="/{{js_dir}}/{{tpl}}">{{tpl}}</a>
                            </li>
                            {% endfor %}
                        </ul></div>
        <div class="w-fix section"> <ul class="tlist">
                            {% for tpl in img %}
                            <li>
                                <a class="title" href="/{{img_dir}}/{{tpl}}">{{tpl}}</a>
                            </li>
                            {% endfor %}
                        </ul></div>
    </div>
{%endblock%}