{%extends "parent.html"%}

{%block title%}
Static Resource List
{%endblock%}

{%block content%}
    <base target="_blank"/>
    <div class="wrapper">
        <table>
            <caption>STATIC RESOURCE LISTS</caption>
            <thead>
                <tr>
                    <th>CSS</th>
                    <th>JS</th>
                    <th>IMAGES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul class="tlist">
                            {% for tpl in css %}
                            <li>
                                <a class="title" href="/{{css_dir}}/{{tpl}}">{{tpl}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="tlist">
                            {% for tpl in js %}
                            <li>
                                <a class="title" href="/{{js_dir}}/{{tpl}}">{{tpl}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="tlist">
                            {% for tpl in img %}
                            <li>
                                <a class="title" href="/{{img_dir}}/{{tpl}}">{{tpl}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{%endblock%}